<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Login Page Demo</title>
    <link rel="stylesheet" href="../css/element.css" />
    <style>
      body {
        font-family: 'Helvetica Neue', Helvetica, 'PingFang SC',
          'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
        color: #606266;
        background-image: url('../image/background01.jpg');
      }
      #app {
        position: absolute;
        top: 30%;
        left: 50%;
        margin: -150px 0 0 -200px;
        width: 300px;
      }
      #footer {
        width: 200px;
        margin-top: 150px;
        margin-left: 50px;
        font-size: small;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <h1 style="text-align: center;">登 录 页 面</h1>
      <!-- form -->
      <el-form ref="form" :model="user">
        <el-form-item style="text-align: center;">
          <el-link :type="getPrimary(isID)" @click="isID = true">
            账户密码登录
          </el-link>
          <el-divider direction="vertical"></el-divider>
          <el-link :type="getPrimary(!isID)" @click="isID = false">
            手机号登录
          </el-link>
        </el-form-item>
        <el-form-item>
          <el-input
            v-model="user.name"
            :placeholder="getNamePlaceHolder()"
            prefix-icon="el-icon-user"
            maxlength="20"
          ></el-input>
        </el-form-item>
        <el-form-item>
          <el-input
            v-model="user.password"
            :placeholder="getPwdPlaceHolder()"
            prefix-icon="el-icon-lock"
            show-password
          ></el-input>
        </el-form-item>
        <el-form-item>
          <el-checkbox v-model="auto">自动登录</el-checkbox>
          <el-link
            type="primary"
            href="https://element.eleme.io"
            target="_blank"
            style="float: right;"
          >
            忘记密码
          </el-link>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" style="width: 100%;" @click="login">
            登 录
          </el-button>
        </el-form-item>
        <el-form-item>
          <span>其他登录方式</span>
          <i class="el-icon-position"></i>
          <i class="el-icon-connection"></i>
          <i class="el-icon-eleme"></i>
          <el-link
            type="primary"
            href="https://element.eleme.io"
            target="_blank"
            style="float: right;"
          >
            注册账户
          </el-link>
        </el-form-item>
      </el-form>
      <!-- footer -->
      <div id="footer">
        <el-link style="float: left;">帮助</el-link>
        <el-link style="float: left; margin-left: 57px;">隐私</el-link>
        <el-link style="float: right;">条款</el-link>
      </div>
    </div>
  </body>
  <script src="../modules/vue.js"></script>
  <script src="../modules/element.js"></script>
  <script>
    new Vue({
      el: '#app',
      data() {
        return {
          user: {
            name: '',
            password: '',
          },
          auto: false,
          isID: true,
        }
      },
      methods: {
        getPrimary(flag) {
          return flag ? 'primary' : ''
        },
        getNamePlaceHolder() {
          return this.isID ? 'user name' : 'phone number'
        },
        getPwdPlaceHolder() {
          return this.isID ? 'password' : 'verifycode'
        },
        login() {
          console.log('login info:', JSON.stringify(this.user))
          if (this.user.name.length == 0 || this.user.password == 0) {
            this.$message.error('输入用户名或密码为空！')
          } else if (this.user.password.length < 6) {
            this.$message.error('输入密码长度不能小于6！')
          }
        },
      },
    })
  </script>
</html>
