# IDEA files
.idea/
out/
*.iml

# local external modules
node_modules/
NodeJsLessons/*/node_modules/
WeatherApiTest/node_modules/
MockApiProject/node_modules/
SocketDemo/node_modules/

# vue
VueDemo/build/
VueDemo/node_modules/

#.gitignore
