<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>vue demo - axios post</title>
    <!-- if CORS issue, add Access-Control-Allow-* headers in nginx or mockserver. -->
  </head>
  <body>
    <div id="app">
      <h1>Post Test - axios</h1>
      <button v-on:click="getData">Get Data</button>
      <p v-if="error">
        We're sorry, we're not able to retrieve this information at the moment,
        please try back later.
      </p>
      <p v-if="loading">Loading...</p>
      <p v-for="server in serverList" v-if="hasData">
        <span>server ip: {{ server.server_ip }}</span>
        <br />
        <span>server name: {{ server.server_name }}</span>
      </p>
    </div>
  </body>
  <script src="../modules/vue.js"></script>
  <script src="../modules/axios.min.js"></script>
  <script>
    new Vue({
      el: '#app',
      data: {
        loading: false,
        error: false,
        serverList: null
      },
      computed: {
        hasData() {
          return Boolean(this.serverList)
        }
      },
      methods: {
        getData() {
          let postdata = {
            server_list: [
              { server_name: 'svr_a_002', server_ip: '127.0.1.2' },
              { server_name: 'svr_a_013', server_ip: '127.0.1.13' }
            ],
            server_group_id: 'svr_grp_001'
          }

          let vm = this
          this.loading = true
          axios
            .post(
              'http://mockserver.test.com:17891/demo/3',
              JSON.stringify(postdata)
            )
            .then(resp => {
              let data = JSON.parse(resp.data.split('\n')[0]).data
              vm.serverList = data.server_list
            })
            .catch(err => {
              console.error('Error: ' + err.toString())
              vm.error = true
            })
            .finally(() => (vm.loading = false))
        }
      }
    })
  </script>
</html>
