<!DOCTYPE html>
<html>
  <head>
    <!-- https://element.eleme.cn/#/zh-CN -->
    <meta charset="UTF-8" />
    <title>element hello world</title>
    <!-- import CSS -->
    <link rel="stylesheet" href="../css/element.css" />
    <style>
      #app {
        font-family: 'Helvetica Neue', Helvetica, 'PingFang SC',
          'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
      }
      #hello {
        border-radius: 30px;
        box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
      }
    </style>
  </head>
  <body>
    <div id="app">
      <h1>Element Hello World</h1>
      <!-- hello world -->
      <div style="margin-bottom: 10px">
        <!-- when button is in "loading", it's un-clickable -->
        <el-button id="hello" @click="showDialog" :loading="isLoading"> Button </el-button>
        <el-dialog :visible.sync="visible" title="Hello world">
          <p>Try Element</p>
        </el-dialog>
      </div>
      <hr />

      <!-- data refresh => 新的结果被旧的结果覆盖 -->
      <div>
        <el-select
          v-model="selectedValue"
          placeholder="请选择"
          style="margin-bottom: 10px"
        >
          <el-option
            v-for="item in options"
            :key="item.value"
            :label="item.label"
            :value="item.value"
          >
          </el-option>
        </el-select>
        <div>
          <el-tag v-loading="isLoading">{{ showValue }}</el-tag>
        </div>
      </div>
    </div>
  </body>
  <!-- import Vue before Element -->
  <script src="../modules/vue.js"></script>
  <!-- import JavaScript -->
  <script src="../modules/element.js"></script>
  <script>
    new Vue({
      el: '#app',
      data: function () {
        return {
          visible: false,
          options: [
            { value: 'foo', label: 'Foo' },
            { value: 'itslongname', label: 'Long' },
          ],
          selectedValue: '',
          isLoading: false,
          showValue: 'none',
        }
      },
      watch: {
        selectedValue(newVal, oldVal) {
          if (!newVal) {
            return
          }
          this.isLoading = true
          this.mockRequest(newVal)
            .then((resp) => {
              this.showValue = resp
            })
            .finally(() => {
              setTimeout(() => {
                this.isLoading = false
              }, 500)
            })
        },
      },
      methods: {
        showDialog() {
          console.log('button clicked')
          this.visible = true
        },
        mockRequest(val) {
          return new Promise((resolve) => {
            setTimeout(() => {
              resolve('hello ' + val)
            }, val.length * 1000)
          })
        },
      },
    })
  </script>
</html>
